<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    
    <body>
        <header>
            <h1>Crossing Guard Interface</h1>
        </header>
        <div class="button-container">
        <button class="btn raise">Raise Crossing Guard</button>
        <button class="btn lower">Lower Crossing Guard</button>
        </div>
    </body>
</html>